<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="flex: auto;">
    <!-- greeting -->
     <h1>Hello, {{ user.username }}</h1>
     <a href="{% url 'signout' %}">logout</a>
</body>
</html>