<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <small style="color: rgb(255, 0, 0);">{{ error }}</small>
        <label for="username">username</label>
        <input name="username" id="username" type="text">
        <label for="password">Password</label>
        <input name="password" id="password" type="password">
        <input type="submit" value="login">
    </form>
    <small><a href="{% url 'signup' %}">Create an account</a></small>
</body>
</html>