<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input name="username" id="username" type="text">
        <label for="email">E-mail</label>
        <input name="email" id="email" type="email">
        <label for="password">Password</label>
        <input name="password" id="password" type="password">
        <label for="confirm_password">Confirm Password</label>
        <input name="confirm_password" id="confirm_password" type="password">
        <input type="submit" value="register">
    </form>
</body>
</html>